/* Blocks do html */
html, body {
	margin:0;	
	padding:0;
	color:#000;
	background-color:#000;
}

* html #footer {
height:1px;
}

img {
	margin: 5px;
}

#wrap {
	width:75%;
	margin:0 auto;
	background:#99c;
}

/* Class do html */

.bluepj {
	background-color: #004E95;
}
.orangepj {
	background-color: #FBAA26;
}

/* Ids do html */

/* header form */
#header {
	padding:5px 10px;
}
/*
#header h3 {
	font-size: 16px;
	font-family: Tahoma, sans-serif;
	color: #ffffff;
}*/

#left {
	float:left;
	width:25%;
}
/*
#left h3 {
	text-align: center;
	padding-top: 5px;
	margin-left: -5px;
	font-size: 16px;
	font-family: Tahoma, sans-serif;
	color: #FFF;
}*/

#right {
	float:right;
	width:75%;
}

#footer {
	clear:both;
	height: 50px;
}