/* Blocks do html */
html, body {
   margin:0;
   padding:0;
   height:100%;
}

img {
	margin: 5px;
}

div {
	height: 100%;
}
/* Class do html */

.bluepj {
	background-color: #004E95;
}
.orangepj {
	background-color: #FBAA26;
}

/* Ids do html */

/* header form */
#header {
	display: block;
	width: 110%;
	height: 70px;
}

#header p {
	top: -50%;
	vertical-align: center;
	margin-left: auto;
    margin-right: auto;
    width: 6em;
	display: inline;
	text-align: center;
	font-size: 16px;
	font-family: Tahoma, sans-serif;
	color: #ffffff;
}

#left {
	position: absolute;
	display: block;
	float: left;
	width: 10%;
	padding-left: 5px;
   	padding-bottom:60px;
}

#left h3 {
	text-align: center;
	padding-top: 5px;
	margin-left: -5px;
	font-size: 16px;
	font-family: Tahoma, sans-serif;
	color: #FFF;
}

#right {
	position: relative;
	display: inline-block;
	float: right;
	width: 88%;
   	padding-bottom:60px;
}

#footer {
	position:absolute;
   	bottom:0;
   	width:100%;
	position: fixed;
	height: 50px;
}