<!DOCTYPE html>
<html>
<head>
						<!-- ................. /#colocar variavel .................-->

    <title>{{evento.nome}} - {{evento.titulo}}</title>
	<meta name="keywords" content="sonic, responsive, free template, fluid layout, bootstrap, templatemo" />
	<meta name="description" content="Sonic is one-page responsive free template using Bootstrap. This layout is suitable for creative portfolio showcase." />
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
    
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/templatemo_misc.css">
	<link rel="stylesheet" href="/static/css/templatemo_style.css">
	<link href="/static/css/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet">
</head>
<body>
	
	<!-- This one in here is responsive menu for tablet and mobiles -->
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fa fa-bars fa-2x"></i>
        </a>
        <div class="navigation responsive-menu">
            <ul>
                <li class="home "><a href="#templatemo">Topo</a></li>
	            <li class="about "><a href="#about">Formulário de Interesse</a></li>
	            <li class="services "><a href="#services">Confirmados</a></li>
	            <li class="portfolio "><a href="#portfolio">Mensagens</a></li>
			{% if evento.local %}
	            <li class="contact "><a href="#contact">Mapa</a></li>
	        {% endif %}
            </ul> <!-- /.main_menu -->
        </div> <!-- /.responsive_menu -->
    </div> <!-- /responsive_navigation -->

	<div id="main-sidebar" class="hidden-xs hidden-sm">
		<div class="logo mainBgColor">
			<h1>{{evento.nome}}</h1>
			<span>{{evento.titulo}}</span>
		</div> <!-- /.logo -->

		<div class="navigation">
	        <ul class="main-menu">
	            <li class="home mainBgColor"><a href="#templatemo">Topo</a></li>
	            <li class="about secBgColor"><a href="#about">Formulário de Interesse</a></li>
	            <li class="services mainBgColor"><a href="#services">Confirmados</a></li>
	            <li class="portfolio secBgColor"><a href="#portfolio">Mensagens</a></li>
			{% if evento.local %}
	            <li class="contact mainBgColor"><a href="#contact">Mapa</a></li>
	        {% endif %}
	        </ul>
		</div> <!-- /.navigation -->

	</div> <!-- /#main-sidebar -->

	<div id="main-content">

<!--   ................. /#topo  .................    -->

		<div id="templatemo">
			<div class="main-slider">
				<div class="flexslider">
					<ul class="slides">
						{% for imagem in imagens%}
							<li>
								<div class="slider-caption">
									<h2>{{imagem.titulo}}</h2>
									<p>{{imagem.subtitulo}}</p>
								</div>
								<img src="/{{imagem.arquivo}}">
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="welcome-text">
					
					<!-- ................. /#colocar variavel .................-->

							<h2  class="mainBgColor">Seja bem vindo ao site de confirmação do {{evento.nome}}</h2>
							<p>Neste site você pode confirmar presença no formulário abaixo, verificar quem já confirmou e quais mensagens deixou, além de checar as informações do evento e o mapa de como chegar</p>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /#sTop -->

		<div class="container-fluid">

<!--   ................. /#formulario  .................    -->

			<div id="about" class="section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2 class="secBgColor">Formulário de Interesse</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<form action="" method="POST" ENCTYPE="multipart/form-data"> {% csrf_token %}
				        {% for pergunta in membro_form %}
				        {% if pergunta.id_for_label == 'id_cargo' %}
				        <div class="col-md-4">
							<div class="portfolio-item">
								<div class="portfolio-thumb">
									
									<h3>{{pergunta.label}}</h3>
		        					<select name="cargo" id="id_cargo">
										<option value="--Adicionar--">--Adicionar--</option>
										{% for cargo in cargos %}
										<option value="{{cargo.nome}}">{{cargo.nome}}</option>
										{% endfor %}
									</select><br>
									<input id="id_cargo_add" type="text" name="cargo_add" maxlength="64">
									 <script language="Javascript">
									    var selectmenu=document.getElementById("id_cargo")
									    selectmenu.onchange=function(){ //run some code when "onchange" event fires
									     var chosenoption=this.options[this.selectedIndex] //this refers to "selectmenu"
									     if (chosenoption.value=="--Adicionar--"){
									      $("#id_cargo_add").show(50);
									     }
									     else {
									      $("#id_cargo_add").hide(50);
									     }
									    }
								    </script>
								</div>
							</div>
						</div>
				        {% else %}
			        		<div class="col-md-4">
								<div class="portfolio-item">
									<div class="portfolio-thumb">
										
										<h3>{{pergunta.label}}</h3>
			        					{{pergunta}}
									</div>
								</div>
							</div>
						{% endif %}
				        {% endfor %}
				        <!--{{membro_form.as_p}}-->
				        <input type="submit">
				    </form>
				</div> <!-- /.row -->
			</div> <!-- /#about -->
			
<!--   ................. /#confirmados  .................    -->

			<div id="services" class="section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2 class="mainBgColor">Confirmados</h2>
						</div> <!-- /.section-title -->
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				<div class="row">
					<div id="lista-dos-anos">
						{% for ano in anos %}
							<h3>{{ano}}</h3>
							<div>
								{% for pessoa in confirmados %}
									{% if pessoa.ano_de_saida == ano %}
										<div class="col-md-3">
											<div class="member-item">
												<div class="member-thumb">
													{% if pessoa.foto %}
														<img src="/{{pessoa.foto}}">
													{% else %}
														<img src="/static/img/guy.png">
													{% endif %}
													<div class="overlay">
														<ul class="social-member">
															{% if pessoa.facebook %}
																<li><a href={{pessoa.facebook}} class="fa fa-facebook"></a></li>
															{% endif %}
															{% if pessoa.twitter %}
																<li><a href={{pessoa.twitter}} class="fa fa-twitter"></a></li>
															{% endif %}
															{% if pessoa.linkedin %}
																<li><a href={{pessoa.linkedin}} class="fa fa-linkedin"></a></li>
															{% endif %}
														</ul>
													</div>
												</div>
												<div class="member-content">
													<h4>{{pessoa.nome}}</h4>
													<p>{{pessoa.apelido}} - {{pessoa.cargo}}</p>
												</div>
											</div>
										</div><!-- /.col-md-4 -->
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
						
					</div>
				</div> <!-- /.row -->
				
			</div> <!-- /#services -->

<!--   ................. /#mensagens  .................    -->

			<div id="portfolio" class="section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2 class="secBgColor">Mensagens</h2>
						</div> <!-- /.section-title -->
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				{% for mensagem in mensagens %}
					<div class="row mensage-row">
						<div class="col-md-3">
							<div class="member-item">
								<div class="member-thumb">
									{% if mensagem.foto %}
										<img src="/{{mensagem.foto}}">
									{% else %}
										<img src="/static/img/guy.png">
									{% endif %}
									<div class="overlay">
										<ul class="social-member">
											{% if mensagem.facebook %}
												<li><a href={{pessoa.facebook}} class="fa fa-facebook"></a></li>
											{% endif %}
											{% if mensagem.twitter %}
												<li><a href={{pessoa.twitter}} class="fa fa-twitter"></a></li>
											{% endif %}
											{% if mensagem.linkedin %}
												<li><a href={{pessoa.linkedin}} class="fa fa-linkedin"></a></li>
											{% endif %}
										</ul>
									</div>
								</div>
								<div class="member-content">
									<h4>{{mensagem.nome}}</h4>
									<p>{{pessoa.apelido}} - {{pessoa.cargo}}</p>
								</div>
							</div>
						</div>
						<div class="col-md-9">
							{% if mensagem.confirmado %}
								<h3>Confirmou presença</h3>
							{% else %}
								<h3>Não confirmou presença</h3>
							{% endif %}
							<p class="mensage-text"><em>"{{mensagem.mensagem|safe}}"</em></p>
						</div>
					</div><!-- /.row -->
				{% endfor %} 
			</div> <!-- /#portfolio -->

<!--   ................. /#mapa  .................    -->


		{% if evento.local %}
			<div id="contact" class="section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2 class="mainBgColor">Mapa</h2>
						</div> <!-- /.section-title -->
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div class="map-holder">
							<div class="google-map-canvas" id="map-canvas" style="height: 400px;">
                    		</div>
						</div> <!-- /.map-holder -->
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
			</div> <!-- /#contact -->
			{% endif %}

		</div> <!-- /.container-fluid -->

		<div class="site-footer">
			<div class="first-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="social-footer">

<!-- ............................... nishao, o que colocamos no footer? ......................................... -->

								<ul>
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-dribbble"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-rss"></a></li>
								</ul>
							</div> <!-- /.social-footer -->
						</div> <!-- /.col-md-12 -->
					</div> <!-- /.row -->
				</div> <!-- /.container-fluid -->
			</div> <!-- /.first-footer -->
			<div class="bottom-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<p class="copyright">Copyright © 2014 <a href="http://www.polijr.com.br/">Poli Júnior</a>
                            </p>
						</div> <!-- /.col-md-6 -->
						<div class="col-md-6 credits">
							<p><a href="http://www.templatemo.com">HTML5 Template</a> by <a href="http://www.templatemo.com/preview/templatemo_394_sonic">Sonic</a></p>
                            <!-- / please support templatemo.com by providing a credit link. thank you. / -->
						</div> <!-- /.col-md-6 -->
					</div> <!-- /.row -->
				</div> <!-- /.container-fluid -->
			</div> <!-- /.bottom-footer -->
		</div> <!-- /.site-footer -->

	</div> <!-- /#main-content -->

	<!-- JavaScripts -->
	<script src="/static/js/jquery-1.10.2.js"></script>
	<script src="/static/js/jquery.singlePageNav.js"></script>
	<script src="/static/js/jquery.flexslider.js"></script>
	<script src="/static/js/jquery.prettyPhoto.js"></script>
	<script src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="/static/js/custom.js"></script>
	<script>
		function dinamic_colors(){
			if ('{{evento.rgb_primario}}') {
				$('.mainBgColor').css('background','#{{evento.rgb_primario}}');
				$('li.mainBgColor a').css('border-color','#{{evento.rgb_primario}}');
				$('li.mainBgColor a').css('color','#FFF');
				$('li.mainBgColor a.active').css('color','#{{evento.rgb_primario}}');
				$('.secBgColor').css('background','#{{evento.rgb_secundario}}');
				$('li.secBgColor a').css('border-color','#{{evento.rgb_secundario}}');
				$('li.secBgColor a').css('color','#FFF');
				$('li.secBgColor a.active').css('color','#{{evento.rgb_secundario}}');
			};
		};
		$(document).ready(dinamic_colors);
		$(document).ready(function(){
			$('#lista-dos-anos').accordion({active: false, collapsible: true});
		});
		$(document).scroll(dinamic_colors);
		{% if evento.local %}
        function initialize() {
			var geocoder = new google.maps.Geocoder();
			var mapOptions = {
			  zoom: 15
			};

			var map = new google.maps.Map(document.getElementById('map-canvas'),
			  mapOptions);

			geocoder.geocode({
			  'address': '{{evento.local}}'
			}, 
			function(results, status) {
			  if(status == google.maps.GeocoderStatus.OK) {
			     new google.maps.Marker({
			        position: results[0].geometry.location,
			        map: map
			     });
			     map.setCenter(results[0].geometry.location);
			  }
			});
        }
        {% endif %}
        function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
              'callback=initialize';
          document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>

</body>
</html>