<!DOCTYPE html>

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/css/stylesheet.css"/>
		<script type="text/javascript" src="/static/js/script.js"></script>
		<title> EG Plus - Integrando as Gerações da Poli Júnior com muita classe </title>
	</head>
	<body>
		<div id="wrap">
			<div class="bluepj" id="header">
				<div><img src="/static/img/logo-pj-negativo-icon.png"/></div>
				<h3>EG Plus - Integrando as Gerações da Poli Júnior com muita classe</h3>
			</div>
			<div class="orangepj" id="left">
				<h3 class="bluepj">Confirmar Presença</h3>
				<form>
					{{membro_form.as_p}}
					<imput type="submit">
				</form>
			</div>
			<div class="orangepj" id="right">
				<img src="/static/img/eg-logo-azul.png"/>
			</div>
			<div class="bluepj" id="footer">
			</div>
		</div>
	</body>
</html>